@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #005e3a, #FFCA2F);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    background-color: #005e3a;
    border-radius: 50px;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo, .menu {
    flex: 3;
    display: flex;
    align-items: center;
}

.nome-site {
    flex: 40;
    display: flex;
    align-items: center;
    color: #FFCA2F;
}

.menu {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 50%;
}

.logo > img {
    width: 90px;
    height: 90px;
}

.menu a{
    color: #FFCA2F;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    font-size: 25px;
    display: inline-block;
    padding: 10px 10px;
}

.menu a:hover{
    background-color: #FFCA2F;
    border-radius: 30px;
    color: #005e3a;
    transition: all .4s ease-out;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 100px;
}

.card{
    position: relative;
    width: 100%;
    max-width: 800px; /* ou qualquer outro valor que você preferir */
    height: 60vh;
    background-color: #005e3a;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 3px 3px 1px 0px #00000060;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pergunta{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pergunta label {
    white-space: nowrap; 
    font-size: 35px;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    position:relative;
    top: 12px;
    color: #FFCA2F;
}

button{
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin: 0%;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color:#01492e;
    background-color: #FFCA2F;
}

button:hover{
    background-color: #01492e;
    color: #FFCA2F;
    transition: all .4s ease-out;
}

.butao {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

@media (max-width: 600px) {
  .pergunta label {
    font-size: 30px;
  }
  .butao button {
    width: 100%;
  }
}

.nome-atleta{
    font-size: 30px;
    position: relative;
    bottom: 15px;
    font-weight: bold;
    color: #FFCA2F;
}

.nome-atleta:hover{
    color: #01492e;
    transition: all .4s ease-out;
}

.proxPergunta {
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 40%;
    bottom: 90px;
}

.proxPergunta button {
    font-size: 15px; /* Defina o tamanho da fonte desejado */
    padding: 10px 20px; /* Defina o preenchimento interno do botão */
    width: 50%; /* Tornar o botão do mesmo tamanho que o card */
    font-weight: bold;
}

#ano-rafaela{
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    color: #FFCA2F;
}
.perfil img {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: absolute; /* Permite posicionar a imagem absolutamente */
    left: calc(50% - 75px); /* Centraliza horizontalmente a imagem */
    border-radius: 50%; /* Adiciona um pouco de borda arredondada */
    box-shadow: 0px 0px 10px rgba(247, 235, 18, 0.3); /* Adiciona uma sombra suave */
    bottom: 500px;
    z-index: 999; /* Define um valor alto para garantir que a imagem esteja acima de outros elementos */
}